# Resume NER
## Extract Information from Resumes using NER (Named Entity Recognition)

### Part 1 - Data Exploration and preprocessing
In this first part of the challenge, we will load and examine the dataset we will be working with. We will also prepare the data for training which we will start in the second part of the challenge. You will be required to program some basic python pertaining to file loading, data conversion, and basic dictionaries and array manipulation. If you are experienced with Python, this will be easy. If you are new to python and/or programming, it will be a good opportunity to learn some basic programming you will need for data loading and exploration.

* *If you need help setting up python or running this notebook, please get help from the  assistants to the professor*
* *It might be helpful to try your code out first in a python ide like pycharm before copying it an running it here in this notebook*

#### Load the Dataset
The dataset we will be using is located in the dataset folder included in the project. Verify the data is available by executing the code cell below

In [1]:
import os
dataset_path = "../dataset/Entity Recognition in Resumes.json"
print("Path exists? {}".format(os.path.exists(dataset_path)))

Path exists? False

So far so good? OK then let's load the dataset. The dataset is structured so that each line of text is a resume. 
You will do the following:
1. using python's built-in "open" function, get a filehandle to the dataset (tip don't forget the file is utf8!)
2. load the data into an array of resumes (each text line is one resume) 
3. use the print function to print how many resumes were loaded
4. use the print function to output one of the resumes so we can see how the resumes look in raw text form

In [9]:
## use the "open" function to get a filehandle. 
with open(dataset_path,encoding="utf8") as f:
    ## use the filehandle to read all lines into an array of text lines.
    lines = f.readlines()
    ## print how many lines were loaded
    print(len(lines))
    ## now print one resume/line to see how the resumes look in raw text form
    print("Sample resume:")
    #TODO print sample resume
    print(lines[0])

701
Sample resume:
{"content": "Afreen Jamadar\nActive member of IIIT Committee in Third year\n\nSangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6\n\nI wish to use my knowledge, skills and conceptual understanding to create excellent team\nenvironments and work consistently achieving organization objectives believes in taking initiative\nand work to excellence in my work.\n\nWORK EXPERIENCE\n\nActive member of IIIT Committee in Third year\n\nCisco Networking -  Kanpur, Uttar Pradesh\n\norganized by Techkriti IIT Kanpur and Azure Skynet.\nPERSONALLITY TRAITS:\n• Quick learning ability\n• hard working\n\nEDUCATION\n\nPG-DAC\n\nCDAC ACTS\n\n2017\n\nBachelor of Engg in Information Technology\n\nShivaji University Kolhapur -  Kolhapur, Maharashtra\n\n2016\n\nSKILLS\n\nDatabase (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.\n\nhttps://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN","annotation":[{"label":["Email Address"],"points":[{"start":1155,"end":1198,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Links"],"points":[{"start":1143,"end":1239,"text":"https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN"}]},{"label":["Skills"],"points":[{"start":743,"end":1140,"text":"Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT\nACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)\n\nADDITIONAL INFORMATION\n\nTECHNICAL SKILLS:\n\n• Programming Languages: C, C++, Java, .net, php.\n• Web Designing: HTML, XML\n• Operating Systems: Windows […] Windows Server 2003, Linux.\n• Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql."}]},{"label":["Graduation Year"],"points":[{"start":729,"end":732,"text":"2016"}]},{"label":["College Name"],"points":[{"start":675,"end":702,"text":"Shivaji University Kolhapur "}]},{"label":["Degree"],"points":[{"start":631,"end":672,"text":"Bachelor of Engg in Information Technology"}]},{"label":["Graduation Year"],"points":[{"start":625,"end":629,"text":"2017\n"}]},{"label":["College Name"],"points":[{"start":614,"end":622,"text":"CDAC ACTS"}]},{"label":["Degree"],"points":[{"start":606,"end":611,"text":"PG-DAC"}]},{"label":["Companies worked at"],"points":[{"start":438,"end":453,"text":"Cisco Networking"}]},{"label":["Email Address"],"points":[{"start":104,"end":147,"text":"indeed.com/r/Afreen-Jamadar/8baf379b705e37c6"}]},{"label":["Location"],"points":[{"start":62,"end":67,"text":"Sangli"}]},{"label":["Name"],"points":[{"start":0,"end":13,"text":"Afreen Jamadar"}]}],"extras":null,"metadata":{"first_done_at":1527844872000,"last_updated_at":1537724086000,"sec_taken":0,"last_updated_by":"BIQNZm4INNfvByMqkaVwVt6OZTv2","status":"done","evaluation":"CORRECT"}}

#### Convert the dataset to json
As we can see, the resumes are not in a convenient human-readable form, but are json dictionaries. We want to work with the resumes as python dictionaries and not as raw text, so we will convert the resumes from text to dictionaries. We will do the following:
1. Import the json module
2. Loop through all of the text lines and use the json 'loads' function to convert the line to a python dictionary. Tip - you can use a 'for' loop, or if you want to get fancy, a python 'list comprehension' to accomplish this. 
3. Select one of the converted resumes so that we can examine its structure.

In [17]:
## import json module to load json strings
import json
## using a for loop or a list comprehension, cycle through all lines (loaded above) and convert them to dictionaries 
## using json loads function. Make sure all converted resumes are stored in the 'all_resumes' array below  
all_resumes = []
## select one resume to examine from the all_resumes list
resume = None

for line in lines:
    all_resumes.append(json.loads(line))

print(len(all_resumes))
resume = all_resumes[5]

701

##### Explore the resume data structure
You should have one sample resume saved in the "resume" variable. Now we will examine the resume dictionary. Complete the code below to see the keys in the dictionary

In [19]:
## explore keys in cv
print("keys and values in resume:")
## TODO print out the keys and values for the sample resume
for key, value in resume.items() :
    print(key)

keys and values in resume:
content
annotation
extras
metadata

##### Question: which key do you think points to the text content of the resume?
*Answer here*

content
##### Question: which key do you think points to the list of entity annotations? 
*Answer here*

annotation

Based on your answers above, see if you were right by printing the text content and the entity list by completing and executing the code below

In [20]:
## TODO print the resume text
print("resume content:")
print(resume["content"])
## TODO print the resume's list of entity annotations
print("resume entity list:")
print(resume["annotation"])

resume content:
Ashalata Bisoyi
Transaction Processor - Oracle India Private Limited

Bengaluru, Karnataka - Email me on Indeed: indeed.com/r/Ashalata-Bisoyi/cf02125911cfb5df

To secure a position an esteem organization with good working culture that will help my career
in the field of finance through my sincerity, hard works and skills.

WORK EXPERIENCE

Transaction Processor

Oracle India Private Limited -

April 2016 to Present

2 Year of experience with Oracle India Private Limited in expense team. My work is auditing of
expense reports of employees of all the countries, handling queries through emails and calls also.
JOB DESCRIPTION
• Auditing of expense reports of the employees for all the countries and working on service portal
(Answering queries through email)
• Handling the team in absence of seniors.
• Working on Payment Rejections, export of expense reports to AP.
• Take care of running Backlog, Having knowledge about travel advance.

EDUCATION

Master of Finance and Control in MFC

Khallikote Autonomous college -  Brahmapur, Orissa

2015

Bachelor in Commerce

Berhampur university -  Brahmapur, Orissa

2013

Accounting

Science College, Hinjilicut -  Brahmapur, Orissa

2010

Education

Council of Higher Secondary -  Orissa, IN

2008

Government girls High school -  Hinjilikatu, Orissa

https://www.indeed.com/r/Ashalata-Bisoyi/cf02125911cfb5df?isid=rex-download&ikw=download-top&co=IN


Board of Secondary Education -  Orissa, IN

ADDITIONAL INFORMATION

• Good analytical skills and flexible in work atmosphere.
• Able to handle complex situation under process
• Willingness to learn
• Ability to meet deadlines
• Every time accept the new challenges

OTHER QUALIFICATIONS
• DOEACC O LEVEL
• M.S. OFFICE
resume entity list:
[{'label': ['Skills'], 'points': [{'start': 1710, 'end': 1720, 'text': 'M.S. OFFICE'}]}, {'label': ['Skills'], 'points': [{'start': 1692, 'end': 1706, 'text': ' DOEACC O LEVEL'}]}, {'label': ['Address'], 'points': [{'start': 1436, 'end': 1441, 'text': 'Orissa'}]}, {'label': ['Degree'], 'points': [{'start': 1404, 'end': 1432, 'text': 'Board of Secondary Education '}]}, {'label': ['Email Address'], 'points': [{'start': 1315, 'end': 1359, 'text': 'indeed.com/r/Ashalata-Bisoyi/cf02125911cfb5df'}]}, {'label': ['Links'], 'points': [{'start': 1303, 'end': 1400, 'text': 'https://www.indeed.com/r/Ashalata-Bisoyi/cf02125911cfb5df?isid=rex-download&ikw=download-top&co=IN'}]}, {'label': ['Address'], 'points': [{'start': 1295, 'end': 1300, 'text': 'Orissa'}]}, {'label': ['College Name'], 'points': [{'start': 1250, 'end': 1278, 'text': 'Government girls High school '}]}, {'label': ['Graduation Year'], 'points': [{'start': 1244, 'end': 1247, 'text': '2008'}]}, {'label': ['Address'], 'points': [{'start': 1232, 'end': 1237, 'text': 'Orissa'}]}, {'label': ['Graduation Year'], 'points': [{'start': 1184, 'end': 1187, 'text': '2010'}]}, {'label': ['Address'], 'points': [{'start': 1176, 'end': 1181, 'text': 'Orissa'}]}, {'label': ['College Name'], 'points': [{'start': 1134, 'end': 1160, 'text': 'Science College, Hinjilicut'}]}, {'label': ['Degree'], 'points': [{'start': 1122, 'end': 1131, 'text': 'Accounting'}]}, {'label': ['Graduation Year'], 'points': [{'start': 1116, 'end': 1119, 'text': '2013'}]}, {'label': ['Address'], 'points': [{'start': 1108, 'end': 1113, 'text': 'Orissa'}]}, {'label': ['College Name'], 'points': [{'start': 1073, 'end': 1092, 'text': 'Berhampur university'}]}, {'label': ['Degree'], 'points': [{'start': 1051, 'end': 1071, 'text': 'Bachelor in Commerce\n'}]}, {'label': ['Graduation Year'], 'points': [{'start': 1045, 'end': 1049, 'text': '2015\n'}]}, {'label': ['Address'], 'points': [{'start': 1037, 'end': 1042, 'text': 'Orissa'}]}, {'label': ['College Name'], 'points': [{'start': 993, 'end': 1021, 'text': 'Khallikote Autonomous college'}]}, {'label': ['Degree'], 'points': [{'start': 955, 'end': 990, 'text': 'Master of Finance and Control in MFC'}]}, {'label': ['Companies worked at'], 'points': [{'start': 446, 'end': 473, 'text': 'Oracle India Private Limited'}]}, {'label': ['Years of Experience'], 'points': [{'start': 420, 'end': 439, 'text': '2 Year of experience'}]}, {'label': ['Companies worked at'], 'points': [{'start': 365, 'end': 392, 'text': 'Oracle India Private Limited'}]}, {'label': ['Designation'], 'points': [{'start': 342, 'end': 362, 'text': 'Transaction Processor'}]}, {'label': ['Email Address'], 'points': [{'start': 113, 'end': 157, 'text': 'indeed.com/r/Ashalata-Bisoyi/cf02125911cfb5df'}]}, {'label': ['Location'], 'points': [{'start': 70, 'end': 78, 'text': 'Bengaluru'}]}, {'label': ['Companies worked at'], 'points': [{'start': 40, 'end': 67, 'text': 'Oracle India Private Limited'}]}, {'label': ['Designation'], 'points': [{'start': 16, 'end': 36, 'text': 'Transaction Processor'}]}, {'label': ['Name'], 'points': [{'start': 0, 'end': 14, 'text': 'Ashalata Bisoyi'}]}]

##### Explore the list of entity labels
The entity list is a list of dictionaries, we want to explore this list
1. Cycle through the entities in the list. You can use a 'for' loop for this
2. For each entity - which will be a dictionary - print out each key and each value for the key

In [21]:
## explore entity list
##TODO print out each key and each value for each entity in the entities list
for entity in resume["annotation"]:
    print("Entity")
    for key, value in entity.items():
        print("\tKey:",key,"\tValue:",value)

Entity
	Key: label 	Value: ['Skills']
	Key: points 	Value: [{'start': 1710, 'end': 1720, 'text': 'M.S. OFFICE'}]
Entity
	Key: label 	Value: ['Skills']
	Key: points 	Value: [{'start': 1692, 'end': 1706, 'text': ' DOEACC O LEVEL'}]
Entity
	Key: label 	Value: ['Address']
	Key: points 	Value: [{'start': 1436, 'end': 1441, 'text': 'Orissa'}]
Entity
	Key: label 	Value: ['Degree']
	Key: points 	Value: [{'start': 1404, 'end': 1432, 'text': 'Board of Secondary Education '}]
Entity
	Key: label 	Value: ['Email Address']
	Key: points 	Value: [{'start': 1315, 'end': 1359, 'text': 'indeed.com/r/Ashalata-Bisoyi/cf02125911cfb5df'}]
Entity
	Key: label 	Value: ['Links']
	Key: points 	Value: [{'start': 1303, 'end': 1400, 'text': 'https://www.indeed.com/r/Ashalata-Bisoyi/cf02125911cfb5df?isid=rex-download&ikw=download-top&co=IN'}]
Entity
	Key: label 	Value: ['Address']
	Key: points 	Value: [{'start': 1295, 'end': 1300, 'text': 'Orissa'}]
Entity
	Key: label 	Value: ['College Name']
	Key: points 	Value: [{'start': 1250, 'end': 1278, 'text': 'Government girls High school '}]
Entity
	Key: label 	Value: ['Graduation Year']
	Key: points 	Value: [{'start': 1244, 'end': 1247, 'text': '2008'}]
Entity
	Key: label 	Value: ['Address']
	Key: points 	Value: [{'start': 1232, 'end': 1237, 'text': 'Orissa'}]
Entity
	Key: label 	Value: ['Graduation Year']
	Key: points 	Value: [{'start': 1184, 'end': 1187, 'text': '2010'}]
Entity
	Key: label 	Value: ['Address']
	Key: points 	Value: [{'start': 1176, 'end': 1181, 'text': 'Orissa'}]
Entity
	Key: label 	Value: ['College Name']
	Key: points 	Value: [{'start': 1134, 'end': 1160, 'text': 'Science College, Hinjilicut'}]
Entity
	Key: label 	Value: ['Degree']
	Key: points 	Value: [{'start': 1122, 'end': 1131, 'text': 'Accounting'}]
Entity
	Key: label 	Value: ['Graduation Year']
	Key: points 	Value: [{'start': 1116, 'end': 1119, 'text': '2013'}]
Entity
	Key: label 	Value: ['Address']
	Key: points 	Value: [{'start': 1108, 'end': 1113, 'text': 'Orissa'}]
Entity
	Key: label 	Value: ['College Name']
	Key: points 	Value: [{'start': 1073, 'end': 1092, 'text': 'Berhampur university'}]
Entity
	Key: label 	Value: ['Degree']
	Key: points 	Value: [{'start': 1051, 'end': 1071, 'text': 'Bachelor in Commerce\n'}]
Entity
	Key: label 	Value: ['Graduation Year']
	Key: points 	Value: [{'start': 1045, 'end': 1049, 'text': '2015\n'}]
Entity
	Key: label 	Value: ['Address']
	Key: points 	Value: [{'start': 1037, 'end': 1042, 'text': 'Orissa'}]
Entity
	Key: label 	Value: ['College Name']
	Key: points 	Value: [{'start': 993, 'end': 1021, 'text': 'Khallikote Autonomous college'}]
Entity
	Key: label 	Value: ['Degree']
	Key: points 	Value: [{'start': 955, 'end': 990, 'text': 'Master of Finance and Control in MFC'}]
Entity
	Key: label 	Value: ['Companies worked at']
	Key: points 	Value: [{'start': 446, 'end': 473, 'text': 'Oracle India Private Limited'}]
Entity
	Key: label 	Value: ['Years of Experience']
	Key: points 	Value: [{'start': 420, 'end': 439, 'text': '2 Year of experience'}]
Entity
	Key: label 	Value: ['Companies worked at']
	Key: points 	Value: [{'start': 365, 'end': 392, 'text': 'Oracle India Private Limited'}]
Entity
	Key: label 	Value: ['Designation']
	Key: points 	Value: [{'start': 342, 'end': 362, 'text': 'Transaction Processor'}]
Entity
	Key: label 	Value: ['Email Address']
	Key: points 	Value: [{'start': 113, 'end': 157, 'text': 'indeed.com/r/Ashalata-Bisoyi/cf02125911cfb5df'}]
Entity
	Key: label 	Value: ['Location']
	Key: points 	Value: [{'start': 70, 'end': 78, 'text': 'Bengaluru'}]
Entity
	Key: label 	Value: ['Companies worked at']
	Key: points 	Value: [{'start': 40, 'end': 67, 'text': 'Oracle India Private Limited'}]
Entity
	Key: label 	Value: ['Designation']
	Key: points 	Value: [{'start': 16, 'end': 36, 'text': 'Transaction Processor'}]
Entity
	Key: label 	Value: ['Name']
	Key: points 	Value: [{'start': 0, 'end': 14, 'text': 'Ashalata Bisoyi'}]

##### Question: What keys do the entity entries have? What is the datatype of the values of these keys?
*Answer here*

Label and Points. Label Datatype = String, Points DataType = Dictionary
##### Question: What do these keys and values mean? (think of their significance as entity labels)
*Answer here*

##### Convert  data to "spacy" offset format
Before we go any further, we need to convert the data into a slightly more compact format. This format is the format we will be using to train our first models in the next part of the challenge. Here we will do the following:
1. Use the provided data conversion function
2. Convert the data with that function, storing the results in a variable
3. Inspect the converted data

In [42]:
## data conversion method
def convert_data(data):
    """
    Creates NER training data in Spacy format from JSON dataset
    Outputs the Spacy training data which can be used for Spacy training.
    """
    text = data['content']
    entities = []
    if data['annotation'] is not None:
        for annotation in data['annotation']:
            # only a single point in text annotation.
            point = annotation['points'][0]
            labels = annotation['label']
            # handle both list of labels or a single label.
            if not isinstance(labels, list):
                labels = [labels]
            for label in labels:
                # dataturks indices are both inclusive [start, end] but spacy is not [start, end)
                entities.append((point['start'], point['end'] + 1, label))
    return (text, {"entities": entities})
   
## TODO using a loop or list comprehension, convert each resume in all_resumes using the convert function above, storing the result
converted_resumes = [convert_data(res) for res in all_resumes]
## TODO print the number of resumes in converted resumes 
print(len(converted_resumes))
print(converted_resumes[50][1]["entities"])

701
[(13907, 13911, 'Skills'), (13883, 13887, 'Skills'), (13883, 13886, 'Skills'), (13835, 13841, 'Companies worked at'), (13724, 13732, 'Skills'), (13716, 13722, 'Skills'), (13707, 13714, 'Skills'), (13699, 13705, 'Skills'), (13691, 13697, 'Skills'), (13687, 13690, 'Skills'), (13682, 13685, 'Skills'), (13665, 13670, 'Skills'), (13650, 13654, 'Skills'), (13636, 13639, 'Skills'), (13600, 13609, 'Location'), (13587, 13596, 'Location'), (13543, 13579, 'College Name'), (13502, 13508, 'Companies worked at'), (13478, 13500, 'Designation'), (12696, 12702, 'Companies worked at'), (12020, 12026, 'Skills'), (11962, 11968, 'Skills'), (11701, 11705, 'Skills'), (11578, 11582, 'Skills'), (11578, 11581, 'Skills'), (11014, 11023, 'Location'), (11004, 11010, 'Companies worked at'), (10980, 11002, 'Designation'), (10890, 10899, 'Location'), (10829, 10834, 'Skills'), (10803, 10809, 'Companies worked at'), (9450, 9455, 'Skills'), (8846, 8851, 'Skills'), (8704, 8709, 'Skills'), (8678, 8684, 'Companies worked at'), (8137, 8143, 'Companies worked at'), (7512, 7517, 'Skills'), (6507, 6513, 'Skills'), (6503, 6506, 'Skills'), (6479, 6484, 'Skills'), (5619, 5625, 'Companies worked at'), (4994, 4999, 'Skills'), (4213, 4216, 'Skills'), (4122, 4126, 'Skills'), (3540, 3545, 'Skills'), (3520, 3524, 'Skills'), (3466, 3488, 'Designation'), (3367, 3371, 'Graduation Year'), (3355, 3364, 'Location'), (3312, 3348, 'College Name'), (3300, 3306, 'Degree'), (3269, 3273, 'Skills'), (3248, 3268, 'Skills'), (3243, 3247, 'Skills'), (3243, 3246, 'Skills'), (3236, 3242, 'Skills'), (3219, 3234, 'Skills'), (3192, 3198, 'Companies worked at'), (3083, 3110, 'Skills'), (3052, 3059, 'Skills'), (3017, 3036, 'Skills'), (2980, 3016, 'Skills'), (2951, 2979, 'Skills'), (2936, 2950, 'Skills'), (2915, 2935, 'Skills'), (2891, 2914, 'Skills'), (2650, 2654, 'Graduation Year'), (2630, 2639, 'Location'), (2622, 2628, 'Companies worked at'), (2596, 2618, 'Designation'), (1785, 1791, 'Companies worked at'), (1109, 1115, 'Skills'), (1051, 1057, 'Skills'), (790, 794, 'Skills'), (667, 671, 'Skills'), (667, 670, 'Skills'), (101, 148, 'Email Address'), (58, 67, 'Location'), (50, 56, 'Companies worked at'), (34, 48, 'Designation'), (17, 32, 'Designation'), (0, 16, 'Name')]

##### Question: how is the converted data different than the original data? How is it the same? 
*Answer here*

##### filter out resumes without annotations
A few of the resumes have an empty entity list. We want to filter these resumes out of our data before continuing. We will do the following:
1. cycle through all resumes using for loop or list comprehension
2. for each resume, if the resume has no labled entities, ignore it. Otherwise save it to new resume list

In [43]:
## TODO filter out resumes where resume entities list is None (you can do this in a one-line list comprehension)
## sove to converted_resumes variable
converted_resumes = [res for res in converted_resumes if len(res[1]["entities"]) > 0]
## TODO print length of new filtered converted_resumes.  
print(len(converted_resumes))

690

In [65]:
## store one resume in the variable
converted_resume = converted_resumes[42]
## find text content and store in variable
text = converted_resume[0]
## find the entities list and store in variable
entities_list = converted_resume[1]
## TODO for each entity, print the label, and the text (text content substring pointed to by start and end index)
##print(entities_list)
print(entities_list["entities"])
for entity in entities_list["entities"]:
    start = entity[0]
    end = entity[1]
    label = entity[2]
    print("Label: ", label, "\tText: ", text[start:end])

[(2110, 2404, 'Skills'), (2055, 2064, 'Location'), (1895, 1947, 'Skills'), (1880, 1885, 'Graduation Year'), (1851, 1860, 'Location'), (1829, 1838, 'Location'), (1794, 1826, 'Degree'), (1056, 1061, 'Graduation Year'), (1031, 1038, 'Companies worked at'), (479, 493, 'Designation'), (352, 359, 'Companies worked at'), (337, 351, 'Designation'), (253, 258, 'Graduation Year'), (236, 243, 'Companies worked at'), (219, 234, 'Designation'), (135, 144, 'Location'), (26, 35, 'Location'), (11, 25, 'Designation'), (0, 10, 'Name')]
Label:  Skills 	Text:  SKILL SET • ASP.NET, C# • QA tools

• Coding and modularization • Excellent communication skills

• VB, VB.net, ASP • Technical specifications creation

• HTML • System backups

• Sql server 2005, Oracle • System upgrades

• Java/C/C++ • Excellent problem-solving abilities

Navas Najeer Koya 3
Label:  Location 	Text:  Mangalore
Label:  Skills 	Text:  C# (Less than 1 year), .NET, SQL Server, Css, Html5

Label:  Graduation Year 	Text:   2014
Label:  Location 	Text:  Mangalore
Label:  Location 	Text:  Mangalore
Label:  Degree 	Text:  Bachelor of Computer Application
Label:  Graduation Year 	Text:   2014
Label:  Companies worked at 	Text:  Infosys
Label:  Designation 	Text:  Test Engineer

Label:  Companies worked at 	Text:  Infosys
Label:  Designation 	Text:  Test Engineer

Label:  Graduation Year 	Text:   2014
Label:  Companies worked at 	Text:  Infosys
Label:  Designation 	Text:  System Engineer
Label:  Location 	Text:  Mangalore
Label:  Location 	Text:  Mangalore
Label:  Designation 	Text:  Test Engineer

Label:  Name 	Text:  Navas Koya

##### Print all entities for one converted resume
The converted data also has an entity list. You should be able to examine this using similar techniques we have used above on the converted data. In the next code block you will write code that will print all of the entities for one resume. TIP each entity entry in the 'entities' list consists of a start index of the entity in the resume text, an end index, and the entity label. We will do the following:
1. Store one converted resume in the 'converted_resume' variable
2. Find the entity list in the converted_resume
3. Cycle through the entities, and - using the start and end index - print the label of the entity and the value of the entity. This will be the text substring pointed to by the start and end index

##### Question: What are some of the entity labels you see? Are there any entity values that seem surprising or particularly interesting? 
*Answer here*

##### Collect unique labels of all entities in dataset
Now we are interested in finding out all of the (unique) entity labels which exist in our dataset. Complete and execute the code below to do this.

In [ ]:
## collect names of all entities in complete resume dataset
all_labels = list()
for res in converted_resumes:
    ## entity list of res
    entity_list = None
    ## TODO extend all_labels with labels of entities 
    ##all_labels.           
## TODO all_labels is not yet unique. Make the list a set of unique values
unique_labels = None
## Print unique entity labels
print("Entity labels: ",unique_labels)

Now we see all entity labels in our dataset. Do some of them seem particularly interesting to you?

Choose up to 3 Entities from the list that you would like to use for training a named entity recognition model. 
##### Question: which entities did you choose? 
*Answer here*

##### Validate entities
Now we need to check that there is adequate training data for the entities you have chosen.

In [ ]:
## TODO store entity label names for the entities you want to work with in an array 
chosen_entity_label = None
## for each chosen entity label, count how many documents have a labeled entity for that label, and how many labeled entities total there are 
## for that entity
for chosen in chosen_entity_label:
    found_docs_with_entity = 0
    entity_count = 0
    for resume in converted_resumes:
        entity_list = resume[1]["entities"]
        _,_,labels = zip(*entity_list)
        if chosen in labels:
            found_docs_with_entity+=1
            entity_count+=len([l for l in labels if l == chosen])
    print("Docs with {}: {}".format(chosen,found_docs_with_entity))
    print("Total count of {}: {}".format(chosen,entity_count))

#####  Question: Is adequate training data available for the entities you have chosen? (there should be at least several hundered examples total of each entity)
*Answer here*

##### Save converted data for later use
We are almost done with the first part of the challenge! One more detail. We need to save the "converted_resumes" list so we can load it in the next notebook. We will do the following:
1. Store the location we want to save the data to in the 'converted_resumes_path' variable
2. Using python's 'open' function and the 'json' module's 'dump' function, save the data to disk. Make sure to create missing directories (if applicable) using python's "os.makedirs" function. Save the file with a ".json" file extension
3. Check the filesystem if the file exists and is complete

In [ ]:
converted_resumes_path = "../dataset/converted_resumes.json"
##TODO save converted resumes to path using "open" and json's "dump" function.

### Congratulations!
We are done with part one. Now we will go on to train our own NER Models with the dataset and the entities we have chosen.